.boards {
  width: 370px;
  background-color: #fff;
  border-radius: 10px;
}

.board__header {
  background-color: #d5e8d4;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #96c081;
  margin-bottom: 15px;
  font-style: italic;
}

.board,
.board-progress,
.board-done {
  overflow-y: auto;
  height: 500px;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.board__header-color_progress,
.board__card--color_progress {
  background-color: #f8cecc;
  border: 1px solid #ddaeac;
}

.board__header-color_done,
.board__card-color_move {
  background-color: #dae8fc;
  border: 1px solid #88a5cf;
}

.board__card-title,
.board__descriptions,
.board__info {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board__card-title {
  font-weight: 700;
}

.board__card-text,
.board__descriptions-title {
  width: 150px;
  font-size: 14px;
}

.board__info-user,
.board__info-data {
  font-size: 12px;
  font-style: italic;
}

.board__card {
  border-radius: 10px;
  border: 1px solid #96c081;
  background-color: #d5e8d4;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.board__card-progress {
  background-color: #f8cecc;
  border: 1px solid #ddaeac;
}

.board__card-done {
  background-color: #dae8fc;
  border: 1px solid #88a5cf;
}

.board__card-edit,
.board__card-delete,
.board__descriptions-move,
.board__card-complete {
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}

.board__btn {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #96c081;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.board__btn-color_move {
  background-color: #dae8fc;
  border: 1px solid #88a5cf;
}


.todo--remove{
  display: none;
}
