
.board__header {
  background-color: #d5e8d4;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #96c081;
  margin-bottom: 15px;
}

.board__card {
  display: none;
  
}

.board__card-display{
  display: block;
  border-radius: 10px;
  border: 1px solid #96c081;
  background-color: #d5e8d4;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.board__card-title,
.board__descriptions,
.board__info {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board__card-text,
.board__descriptions-title {
  width: 150px;
  font-size: 14px;
}

.board__card-edit,
.board__card-delete,
.board__descriptions-move {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #96c081;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
}

.board__btn {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #96c081;
 
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.board__info-user,
.board__info-data {
  font-size: 12px;
}

.board__header-color_progress,
.board__card--color_progress {
  background-color: #f5f5f5;
  border: 1px solid #898989;
}

.board__card-edit-color_progress,
.board__card-delete-color_delete,
.board__descriptions-move-color_move {
  border: 1px solid #000;
}

.board__header-color_done,
.board__btn-color_move,
.board__card-color_move{
  background-color: #dae8fc;
  border: 1px solid #88a5cf;
}

.board__card-delete-color_done,
.board__descriptions-move-color_move
 {
    border: 1px solid #88a5cf;
}